
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Add Blog Post</h2>

    @using (Html.BeginForm("Create", "BlogPost"))
    {
        <p>
            @Html.TextBox("Title", null, new { @class = "form-control", placeholder = "Title" })
        </p>
        <p>
            @Html.TextBox("Author", null, new { @class = "form-control", placeholder = "Author" })
        </p>
        <p>
            @Html.TextBox("TeaserText", null, new { @class = "form-control", placeholder = "Teaser" })
        </p>
        <p>
            @Html.TextBox("Body", null, new { @class = "form-control", placeholder = "Body" })
        </p>
        <p>
            <input type="submit" class="btn btn-default" value="Create Blog Post" />
        </p>
    }
    @foreach (var blogPosts in ViewBag.AllBlogPosts)
    {
        <div class="row">
           @Html.ActionLink((string)blogPosts.Title, "Details", new {id=blogPosts.Id})
        </div>

    }
</div>

